@charset "UTF-8";

.contact-us {
  padding: 80px 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 700;
  color: #1b2129;
}

.contact-content {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  justify-content: space-between;
}

/* Стили формы */
.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 550px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px 20px;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  color: #292929;

  background-color: #f7f8fa;
  outline: none;
}

.form__input::placeholder {
  color: #a0a0a0;
}



.form__input--textarea {
  resize: none;
  min-height: 150px;
}

.form__button {
  cursor: pointer;

  margin-top: 10px;
  padding: 18px;
  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;

  background-color: #1b2129;

  transition: background 0.3s ease;
}

.form__button:hover {
  background-color: #2c3541;
}

.example {
  flex: 0 0 300px;
}

.example__item {
  margin-bottom: 35px;
}

.example__title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  color: #9393a3;
}

.example__value {
  margin: 0;

  font-size: 18px;
  line-height: 1.5;
  color: #292929;

  transition: transform 0.2s ease;
}

.example__value:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    gap: 50px;
  }
  .form,
  .example {
    flex: none;
    max-width: 100%;
  }
}
