.contact-us {
  &__link {
    display: block;

    margin-bottom: 40px;

    font-size: 18px;
    color: $main-color;
    text-align: center;
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 500px;
  margin: 0 auto;

  &__input {
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;

    font-family: inherit;
    font-size: 16px;

    background: transparent;
    outline: none;

    &:focus {
      border-bottom-color: $main-color;
    }
  }

  &__button {
    cursor: pointer;

    margin-top: 16px;
    padding: 16px;
    border: none;

    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: $main-color;

    &:hover {
      background-color: ($main-color, 10%);
    }
  }
}
