.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 111px;
  margin: 0 auto;
  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 48px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}
