.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: 100vh;

  background-image: url(../../images/header-bg-mobile.png.png);
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    @include content-padding-in-line;

    @include on-desktop {
      padding-inline: 120px;
    }

    @include on-tablet {
      padding-inline: 72px;
    }
  }

  &__title {
    margin-top: 32px;
    font-size: 32px;
    line-height: 120%;
    color: #f9f9f9;

    @include on-tablet {
      margin-top: 64px;
      font-size: 48px;
    }

    @include on-desktop {
      margin-top: 128px;
      font-size: 64px;
    }
  }

  .bose__logo_image {
    height: 80px;
  }
}
