.header {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-image: url(../../images/header-bg-mobile.png.png);
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100%;

    @include content-padding-in-line;
  }

  &__bottom {
    padding-bottom: 80px;
    text-align: left;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 1.1;
    color: #fff;
  }
}
