.icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  // margin-right: auto;

  background-repeat: no-repeat;

  // background-position: center;
  background-size: contain;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../../images/icon/icons-phone.png.png);
  }

  &--menu {
    background-image: url(../../images/icon/icon-burger-menu.png.png);
  }

  &--close {
    margin-right: 40px;
    background-image: url(../../images/icon/icon-close.png);
  }
  &__icon--close:target {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}
