.icon {
  display: inline-block;

  width: 24px; // Стандарт для планшета/десктопа
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform $effect-duration ease;

  &:hover {
    transform: scale(1.1);
  }

  // Адаптив для телефона (320px)
  @include screen(md) {
    width: 20px;
    height: 20px;
  }

  &--phone {
    background-image: url(../../images/icon/icon-close.png);
  }

  &--menu {
    background-image: url(../../images/icon/icon-burger-menu.png.png);
  }

  &--close {
    background-image: url(../../images/icon/icons-phone.png.png);
  }
}
