.main {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;

  // @include content-padding-in-line;

  @include respond($md) {
    row-gap: 120px;
    padding-block: 120px;
  }
}

body:has(.page__menu:target) {
  overflow: hidden;
}

.recommended {
  @include content-padding-inline;
}

section {
  scroll-snap-type: y proximity;
}
