.page {
  scroll-behavior: smooth;

  box-sizing: border-box;

  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 140%;
  color: $main-color;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    z-index: 100;
    inset: 0;

    visibility: hidden;
    opacity: 0;

    transition: opacity $effect-duration;
  }

  &__menu:target {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}
