.recommended {
  &__products {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    width: 100%;

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
}
