.recommended {
  &__products {
    display: grid;

    // 📱 mobile
    grid-template-columns: repeat(2, 1fr);
    gap: 40px $phone-gutter;
    padding: 0 $phone-margin;

    // 📲 tablet+
    @include screen(md) {
      grid-template-columns: repeat(8, 1fr);
      column-gap: $tablet-gutter;
      padding: 0 $tablet-margin;
    }

    .product-item {
      grid-column: span 1;

      @include screen(md) {
        grid-column: span 2;
      }
    }
  }
}
