* {
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

@import './variables';
@import './utils/mixins';
@import './main';
@import './page';
@import './top-bar';
@import './header';
@import './icon';
@import './menu';
@import './section-title';
@import './view-button';
@import './recommended';
@import './categories';
@import './product';
@import './description';
@import './contact-us';
@import './banner';


