.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // @include content-padding-inline;

  @include respond($lg) {
    padding-block: 32px;
  }

  &__logo {
    display: flex;
    height: 80px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}

.top-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 32px;
  padding-inline: 120px;
}
