view {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 48px;

  background-color: #f98921;
}

.view__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  letter-spacing: -1.5px;
}
