@mixin respond($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: $content-padding-mobile;

  @include respond($md) {
    padding-inline: $content-padding-tablet;
  }

  @include respond($xl) {
    max-width: $content-max-width;
    padding-inline: $content-padding-desktop;
    margin-inline: auto;
  }
}

@mixin hover($property, $value) {
  transition: #{$property} $effect-duration ease-in-out;

  &:hover {
    #{$property}: $value;
  }
}
